<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.zxg.dao.ZxgAgentDao">

	<select id="get" resultType="com.bootdo.zxg.domain.ZxgAgentDO">
		select `id`,`in_date`,`in_rmk`,`re_date`,`re_rmk`,`status`,`agent_id`,`agent_name`,`agent_fee`,`agent_star`,`agent_docking`,`agent_source`,`comment` from zxg_agent where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.zxg.domain.ZxgAgentDO">
		select `id`,`in_date`,`in_rmk`,`re_date`,`re_rmk`,`status`,`agent_id`,`agent_name`,`agent_fee`,`agent_star`,`agent_docking`,`agent_source`,`comment` from zxg_agent
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="inDate != null and inDate != ''"> and in_date = #{inDate} </if>
		  		  <if test="inRmk != null and inRmk != ''"> and in_rmk = #{inRmk} </if>
		  		  <if test="reDate != null and reDate != ''"> and re_date = #{reDate} </if>
		  		  <if test="reRmk != null and reRmk != ''"> and re_rmk = #{reRmk} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="agentId != null and agentId != ''"> and agent_id = #{agentId} </if>
		  		  <if test="agentName != null and agentName != ''"> and agent_name = #{agentName} </if>
		  		  <if test="agentFee != null and agentFee != ''"> and agent_fee = #{agentFee} </if>
		  		  <if test="agentStar != null and agentStar != ''"> and agent_star = #{agentStar} </if>
		  		  <if test="agentDocking != null and agentDocking != ''"> and agent_docking = #{agentDocking} </if>
		  		  <if test="agentSource != null and agentSource != ''"> and agent_source = #{agentSource} </if>
		  		  <if test="comment != null and comment != ''"> and comment = #{comment} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by in_date desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from zxg_agent
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="inDate != null and inDate != ''"> and in_date = #{inDate} </if>
		  		  <if test="inRmk != null and inRmk != ''"> and in_rmk = #{inRmk} </if>
		  		  <if test="reDate != null and reDate != ''"> and re_date = #{reDate} </if>
		  		  <if test="reRmk != null and reRmk != ''"> and re_rmk = #{reRmk} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="agentId != null and agentId != ''"> and agent_id = #{agentId} </if>
		  		  <if test="agentName != null and agentName != ''"> and agent_name = #{agentName} </if>
		  		  <if test="agentFee != null and agentFee != ''"> and agent_fee = #{agentFee} </if>
		  		  <if test="agentStar != null and agentStar != ''"> and agent_star = #{agentStar} </if>
		  		  <if test="agentDocking != null and agentDocking != ''"> and agent_docking = #{agentDocking} </if>
		  		  <if test="agentSource != null and agentSource != ''"> and agent_source = #{agentSource} </if>
		  		  <if test="comment != null and comment != ''"> and comment = #{comment} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.zxg.domain.ZxgAgentDO">
		insert into zxg_agent
		(
			`id`, 
			`in_date`, 
			`in_rmk`, 
			`re_date`, 
			`re_rmk`, 
			`status`, 
			`agent_id`, 
			`agent_name`, 
			`agent_fee`, 
			`agent_star`, 
			`agent_docking`, 
			`agent_source`, 
			`comment`
		)
		values
		(
			#{id}, 
			#{inDate}, 
			#{inRmk}, 
			#{reDate}, 
			#{reRmk}, 
			#{status}, 
			#{agentId}, 
			#{agentName}, 
			#{agentFee}, 
			#{agentStar}, 
			#{agentDocking}, 
			#{agentSource}, 
			#{comment}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.zxg.domain.ZxgAgentDO">
		update zxg_agent 
		<set>
			<if test="inDate != null">`in_date` = #{inDate}, </if>
			<if test="inRmk != null">`in_rmk` = #{inRmk}, </if>
			<if test="reDate != null">`re_date` = #{reDate}, </if>
			<if test="reRmk != null">`re_rmk` = #{reRmk}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="agentId != null">`agent_id` = #{agentId}, </if>
			<if test="agentName != null">`agent_name` = #{agentName}, </if>
			<if test="agentFee != null">`agent_fee` = #{agentFee}, </if>
			<if test="agentStar != null">`agent_star` = #{agentStar}, </if>
			<if test="agentDocking != null">`agent_docking` = #{agentDocking}, </if>
			<if test="agentSource != null">`agent_source` = #{agentSource}, </if>
			<if test="comment != null">`comment` = #{comment}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from zxg_agent where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from zxg_agent where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	<select id="zxgAgent" resultType="map">
		select agent_id,agent_name from zxg_agent
	</select>
</mapper>